@page "/ConfirmationPostulerStage"
<h3>Confirmation</h3>
Votre candidature a été envoyée à l'employeur.
<br />
Si ce n'est pas 1le cas, communiquer avec le responsable des stages dans votre institution scolaire.
