@page "/ErreurConfirmationPostulerStage"
<h3>Oops! Looser!</h3>
Vous semblez avoir deja postuler sur cette offre de stage.
<br />
Si ce n'est pas le cas, communiquer avec le responsable de stages dans votre institution scolaire.